---
import Hero from "../../components/hero/Hero.astro";
import Layout from "../../layouts/Layout.astro";

import styles from "./privacy.module.scss";
---

<Layout title="Mangalya Group - Privacy & Policy">
	<Hero title="Privacy & Policy" />

	<div class={`container ${styles.privacy}`}>
		<p>
			Mangalya Group is committed to maintaining the privacy and accuracy
			of the information provided on this site. All information is shared
			with the complete knowledge of the owner, and appropriate measures
			have been taken to ensure that users’ credentials are not misused,
			accidentally destroyed, or lost within the environment of Mangalya
			Group. While care has been taken in the production of information on
			this website, Mangalya Group does not accept any liability for any
			loss incurred by anyone relying on the information contained herein.
		</p>

		<h3>What This Privacy Policy Covers</h3>
		<p>
			This Privacy Policy outlines our use of personally identifiable
			information that is shared by you on our site.
		</p>
		<p>
			It also covers the treatment of personally identifiable information
			shared with us.
		</p>
		<p>
			This policy applies to personally identifiable information collected
			through any app owned and operated by Mangalya Group.
		</p>
		<p>
			It does not apply to organizations not owned or controlled by us,
			nor to people who are not employed or managed by us. Additionally,
			it does not cover information required to be shared with public or
			private authorities as per applicable laws, court orders, or
			directions.
		</p>

		<h3>Information Collection and Use</h3>

		<p>
			We use your personal information solely to provide and improve our
			services. By using the site, you consent to the collection and use
			of information as described in this Privacy Policy.
		</p>

		<p>
			We collect personally identifiable information when you submit an
			inquiry form on our website or interact with our apps.
		</p>

		<p>
			While using our website, we may ask for certain personally
			identifiable details that can be used to contact or identify you.
			Personally identifiable information may include, but is not limited
			to, your name. By providing this information, you consent to being
			contacted, overriding the DNC/NDNC.
		</p>

		<p>
			When submitting a form, we may request your name, email address, and
			phone number, along with any other details you provide in your
			comments. Once submitted, this information is stored securely in our
			database and is not shared with third parties.
		</p>
		<p>
			We use this information to respond to your queries, maintain records
			for future reference, and communicate with you about our products
			and services. Like many website operators, we collect log data,
			which may include information such as your IP address, browser type,
			browser version, pages visited, time and date of visit, duration of
			visit, and other statistics.
		</p>
		<p>
			We may collect technical details, including device information,
			location data, and network carrier details when you use our mobile
			apps.
		</p>

		<h3>The Information We Collect</h3>

		<ul>
			<li>
				Personal Information – Name, gender, age, images, contact
				details (postal address, telephone number, email ID),
				nationality, and other content.
			</li>
			<li>
				Interactions with Us – Records of any interactions with our team
				or any references to us on social media.
			</li>
			<li>
				Survey Responses – Information collected from customer surveys
				conducted by us or on our behalf.
			</li>
			<li>
				Website, App, and Social Media Usage – Details of your visits to
				our website, interactions with our social media pages, and
				mobile app usage. This includes tracking technology such as
				cookies.
			</li>
			<li>
				Online Identifiers – Mobile device advertising identifiers and
				geo-location data when using any Mangalya Group mobile
				application.
			</li>
			<li>
				Geo-Location Data – Collected during the registration process on
				our apps to provide location-specific services.
			</li>
		</ul>

		<h3>Information Sharing and Disclosure</h3>

		<ul>
			<li>
				We do not sell, rent, or share personally identifiable
				information with third parties except in the following
				circumstances:
			</li>
			<li>When we have your explicit consent.</li>
			<li>
				If required by law or in good faith belief that such disclosure
				is necessary to respond to legal processes, court orders, or law
				enforcement requests.
			</li>
			<li>To enforce our Privacy Policy or Terms of Service.</li>
			<li>
				To respond to claims that content on our website violates the
				rights of third parties.
			</li>
			<li>
				To protect the rights, property, or personal safety of our users
				or the general public.
			</li>
		</ul>

		<h3>Intellectual Property and Restrictions on Use</h3>

		<p>
			The content and design of this website are the exclusive property of
			Mangalya Group. No person may use, reproduce, or allow others to use
			or reproduce any content, logos, or images without prior written
			consent from Mangalya Group.
		</p>

		<p>
			The retrieval and display of website content for personal,
			commercial, or non-commercial purposes, as well as any modification
			or commercial use of content, are strictly prohibited.
		</p>

		<p>
			Unauthorized use of website content is prohibited and may result in
			legal action.
		</p>

		<h3>Policy Updates</h3>

		<p>
			This Privacy Policy is subject to change, and any modifications will
			be communicated on this page
		</p>
	</div>
</Layout>
