---
import Hero from "../../components/hero/Hero.astro";
import Layout from "../../layouts/Layout.astro";

import styles from "./disclaimer.module.scss";
---

<Layout title="Mangalya Group - Disclaimer">
	<Hero title="Disclaimer" />

	<div class={`container ${styles.disclaimer}`}>
		<p>Thank you for visiting www.mangalyagroup.com.</p>
		<p>
			The aforementioned website is the only official website of Mangalya
			Group ("Company"). Users are cautioned and advised not to rely on
			any information available on other websites that may appear similar
			to the Company’s official website and/or contain the Company’s logo,
			brand name, or information about the Company or its projects.
		</p>
		<p>
			This website may contain proprietary notices and copyright
			information, which must be observed and followed. Information may be
			updated or changed without prior notice. The Company may also modify
			and/or enhance the products, programs, and offerings described
			herein at any time without notice.
		</p>
		<p>
			By accessing this website, the user confirms that all information,
			including brochures and marketing collaterals available on this
			website, is solely for informational purposes. The user acknowledges
			that no reliance has been placed on this information for making any
			booking or purchase in any project of the Company. Nothing on this
			website constitutes advertising, marketing, booking, selling, an
			offer for sale, or an invitation to purchase a unit in any project
			in any manner by the Company.
		</p>
		<p>
			The content presented on this website regarding projects,
			apartments, plots, buildings, layouts, areas, amenities, services,
			terms of sale, and other relevant details is based on approved and
			sanctioned plans, subject to modifications and changes in compliance
			with relevant laws or directions from authorities. Any visuals,
			images, renderings, or maps of projects under development or
			construction are purely indicative, informative, and
			representational and should not be construed as actual photographs
			unless explicitly stated.
		</p>
		<p>
			The website contains information about the projects and developments
			undertaken by the Company, including banners and posters. The
			content is subject to modification in accordance with the
			stipulations and recommendations under the Real Estate (Regulation
			and Development) Act, 2016 (RERA) and related rules, and it may not
			be fully updated at present. Users are therefore advised to directly
			verify all project details and aspects of any proposed booking or
			acquisition of units/premises with the Company's authorized sales
			team before making any purchasing decisions.
		</p>
		<p>
			The website and its contents are provided on an "as is" and "as
			available" basis. No information given on this website creates any
			warranty or extends the scope of any warranty that cannot be
			disclaimed under applicable law. The use of this website is at the
			user’s own risk. This website is intended for guidance only and does
			not constitute part of an offer or contract. Designs and
			specifications are subject to change without prior notice. Any
			computer-generated images are artists' impressions and are
			indicative of the actual designs.
		</p>
	</div>
</Layout>
