@use "/src/styles/abstracts" as ab;

.container {
	display: grid;
	gap: 3rem;

	@include ab.info {
		grid-template-columns: 3fr 2fr;
	}

	h3 {
		text-align: center;

		@include ab.info {
			text-align: left;
		}
	}

	.info {
		display: grid;
		gap: 1rem;
		align-content: start;

		p {
			text-align: center;
			text-wrap: balance;

			@include ab.info {
				text-align: justify;
			}
		}
	}
}
